@{
    ViewBag.Title = "Manage Product Page";
    Layout = "../../Shared/_AdminLayout.cshtml";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/manageproductsbanner.png" />

<!-- Display a Form to create a product page using the model -->