@{
    ViewBag.Title = "Admin Home Page";
    Layout = "../../Shared/_AdminLayout.cshtml";
}


<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/adminpanelindex.png" /> 

<!-- Admin Index Page - Menu to access website admin tools -->