@{
    ViewBag.Title = "Create Users Page";
    Layout = "../../Shared/_AdminLayout.cshtml";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/createuserbanner.png" />

<!-- Display a Form to create a product page using the model -->