@{
    ViewBag.Title = "Site Configuration";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/aboutusbanner.png" /> <!-- Create Banner for Configuration Page -->

<!-- Options to change site background, etc -->