@{
    ViewBag.Title = "Site Configuration";
    Layout = "../../Shared/_AdminLayout.cshtml";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/siteconfigbanner.png" /> 

<!-- Options to change site background, etc -->