@using FinalAssignment.Models;
@{
    ViewBag.Title = "Users Management";
    Layout = "../../Shared/_AdminLayout.cshtml";
    var clayout = "";
    var admin = Session["admin"];

    //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
    try
    {
        //Uses session to pass isadmin from database to var to pick what layout to render.
        if (admin.Equals("true"))
        {
            clayout = "~/Views/Shared/_AdminLayout.cshtml";
        }
        else
        {
            clayout = "~/Views/Shared/_AdminLayout.cshtml";
            Response.Redirect("~/Home/Index");
        }
        Layout = clayout;
    }
    catch (NullReferenceException ex)
    {
        clayout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = clayout;
    }
}

@model List<FinalAssignment.Models.Users>



<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/manageusersbanner.png" />

<!-- Display all users using model -->

@foreach (var user in Model)
{
    <h2>
        @user.firstname
    </h2>
}