@{
    ViewBag.Title = "Users Management";
    Layout = "../../Shared/_AdminLayout.cshtml";
}

@model List<FinalAssignment.Models.Users>



<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/manageusersbanner.png" />

<!-- Display all users using model -->

@foreach (var user in Model)
{
    <h2>
        @user.firstname
    </h2>
}