@{
    ViewBag.Title = "Users Management";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/aboutusbanner.png" /> <!-- Create Banner for users page -->

<!-- Display all users using model -->