@{
    ViewBag.Title = "About";
    var clayout = "";
    var admin = Session["admin"];

    if (Request.Cookies["AdminSession"] != null)
    {
        //if logging in using the cookie we need this to take value from cookie instead of Database
        admin = Request.Cookies["AdminSession"].Value.ToString();
        //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
        try
        {
            //Uses session to pass isadmin from database to var to pick what layout to render.
            if (admin.Equals("admin"))
            {
                clayout = "~/Views/Shared/_Layout.cshtml";
            }
            else
            {
                clayout = "~/Views/Shared/_Layout2.cshtml";
            }
            Layout = clayout;
        }
        catch (NullReferenceException ex)
        {
            clayout = "~/Views/Shared/_Layout2.cshtml";
            Layout = clayout;
        }
    }
    else
    {
        Response.Redirect("~/Login/Create");
    }
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/aboutusbanner.png" />


<div class="col-md-9" style="background-color: white; border-radius: 25px; margin-left: 20px;">
    <h3 style="padding-left: 15%;">A feature rich CMS designed for small business owners</h3>
    An online shopping cart solution known as an ecommerce platform allows you to manage your product inventory and sell goods directly from your website. A CMS is a feature of many e-commerce systems. In other words, it's a user-friendly architecture that manages all of an online shop's backend store operations.
    In our project, an e-commerce content management system (CMS) that is simple, clean, and easy to use while being extremely functional is being developed. This system is primarily targeted at small businesses. Our system will have all the required features, including an intuitive user interface (UI) that is well-designed and responsive, a simple system for managing the inventory of products (with the option to add, update, and remove items), and a lot more.
</div>


