@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
   <h3>@ViewBag.Message</h3>-->
<img src="~/Content/contactusbanner.png" />

<div class="col-md-9" style="background-color: white; border-radius: 25px; margin-left: 20px; padding-top:10px;">
    <center>
    <h1>Mail Address</h1>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <h1>Email Support</h1>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    </center>
</div>