@{
    ViewBag.Title = "Contact";
    var clayout = "";
    var admin = Session["admin"];

    if (Request.Cookies["AdminSession"] != null)
    {
        //if logging in using the cookie we need this to take value from cookie instead of Database
        admin = Request.Cookies["AdminSession"].Value.ToString();
        //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
        try
        {
            //Uses session to pass isadmin from database to var to pick what layout to render.
            if (admin.Equals("true"))
            {
                clayout = "~/Views/Shared/_Layout.cshtml";
            }
            else
            {
                clayout = "~/Views/Shared/_Layout2.cshtml";
            }
            Layout = clayout;
        }
        catch (NullReferenceException ex)
        {
            clayout = "~/Views/Shared/_Layout2.cshtml";
            Layout = clayout;
        }
    }
    else
    {
        Response.Redirect("~/Login/Create");
    }
}
<!--<h2>@ViewBag.Title.</h2>
   <h3>@ViewBag.Message</h3>-->
<img src="~/Content/contactusbanner.png" class="imgcus" />

<div class="col-md-9" style="background-color: white; border-radius: 25px; margin-left: 20px; padding-top:10px;">
    <center>
    <h1>Mail Address</h1>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <h1>Email Support</h1>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    </center>
</div>