@model IEnumerable<FinalAssignment.Models.Products>

@{
    ViewBag.Title = "Products";
    var clayout = "";
    var admin = Session["admin"];

    //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
    try
    {
        //Uses session to pass isadmin from database to var to pick what layout to render.
        if (admin.Equals("true"))
        {
            clayout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            clayout = "~/Views/Shared/_Layout2.cshtml";
        }
        Layout = clayout;
    }
    catch (NullReferenceException ex)
    {
        clayout = "~/Views/Shared/_Layout2.cshtml";
        Layout = clayout;
    }
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/productsbanner.png" />
<div class="col-md-9" style="border-radius: 25px; margin-left: 20px; padding-top:10px;">

    <div style="display:grid; grid-template-columns:repeat(3,1fr); gap:2%">
        @foreach (var item in Model)
        {
            <div style="aspect-ratio:1/1; display:flex; align-items:center; padding:5%; background-color:coral; color: aliceblue; border-radius:18px">
                <div>
                    <p style="font-family: 'sans-serif'; font-size:18px">Name: @Html.DisplayFor(modelItem => item.name)</p>
                    <br />
                    <p style="font-family: 'sans-serif'; font-size:14px">Price: $@Html.DisplayFor(modelItem => item.price)</p>
                </div>


            </div>
        }
    </div>

</div>