@{
    ViewBag.Title = "Products";
}




<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/productsbanner.png"/>
<div class="col-md-9" style="background-color: white; border-radius: 25px; margin-left: 20px; padding-top:10px;">
    
    <!-- Do Product Display here-->

</div>