@model IEnumerable<FinalAssignment.Models.Products>

@{
    ViewBag.Title = "Products";
    var clayout = "";
    var admin = Session["admin"];

    if (Request.Cookies["AdminSession"] != null)
    {
        //if logging in using the cookie we need this to take value from cookie instead of Database
        admin = Request.Cookies["AdminSession"].Value.ToString();
        //Try Catch is implmented to catch null values // this happens when user first registers, becuase value is left empty.
        try
        {
            //Uses session to pass isadmin from database to var to pick what layout to render.
            if (admin.Equals("true"))
            {
                clayout = "~/Views/Shared/_Layout.cshtml";
            }
            else
            {
                clayout = "~/Views/Shared/_Layout2.cshtml";
            }
            Layout = clayout;
        }
        catch (NullReferenceException ex)
        {
            clayout = "~/Views/Shared/_Layout2.cshtml";
            Layout = clayout;
        }
    }
    else
    {
        Response.Redirect("~/Login/Create");
    }
}



<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/productsbanner.png" class="imgcus" style="padding-bottom: 10px;"/>
<div class="container-fluidnoshadow">
    <div class="row justify-content-around mb-3" style="padding-right: 16.0%;">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card" style="width: 18em; align-items: center; border-radius: 25px;">
                    <img src="../@Html.DisplayFor(modelItem => item.pictureURL)" class="card-img-top" alt="products display" height="125" width="85" />
                    <div class="card-body" style="padding-bottom:10px; padding-top:10px;">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        <p class="card-text">$@Html.DisplayFor(modelItem => item.price)</p>
                        <button type="button" class="btn btn-success">@Html.ActionLink("Add To Cart", "AddtoCart", "Products", new { name = item.name, price = item.price }, new { style = "color: white;" })</button>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

