@{
    ViewBag.Title = "Register Page";
}


<!--<h2>@ViewBag.Title.</h2> -->

<img src="~/Content/productsbanner.png" /> <!-- Need to create banner for this page -->
<div class="col-md-9" style="background-color: white; border-radius: 25px; margin-left: 20px; padding-top:10px;">

    <!-- Do Register here-->

</div>